.collection {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
