.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    overflow: hidden;

    & img {
      min-width:100%;
	    min-height:100%;
    }
  }

  .button {
    width: 90%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .button {
      opacity: 0.85;
      display: flex;
    }
  }

  .item-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 85%;
      margin-bottom: 15px;
    }

    .price {
      width: 15%;
    }
  }
}
