.checkout {
  width: 100%;
  
  table {
    width: 95%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 50px auto 0;

    tr {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;

      th {
        text-transform: capitalize;
        width: 23%;
        display: flex;
        padding-left: 0.2rem;

        &:last-child {
          width: 8%;
        }
      }
    }
  }
}



  // .total {
  //   margin-top: 30px;
  //   margin-left: auto;
  //   font-size: 36px;
  // }